# Desafio

### 1) Acesse a api da camara, e recupere os reembolsos do ano de 2018

In [1]:
import requests
from zipfile import ZipFile

# fazendo o download do conteúdo do arquivo
url = f"http://www.camara.leg.br/cotas/Ano-2018.csv.zip"
r = requests.get(url)

file = open(f"Ano-2018.csv.zip", "wb")
file.write(r.content)
file.close()

zip_file = ZipFile(f"Ano-2018.csv.zip", "r")
zip_file.extract(member=f"Ano-2018.csv", path=f"reembolso-2018")
zip_file.close()

### 2) Leia o Arquivo csv

In [108]:
import pandas as pd
pd.set_option("display.max_columns", None)

DTYPE = {
    "txNomeParlamentar": str,
    "ideCadastro": str,
    "nuCarteiraParlamentar": str,
    "nuLegislatura": str,
    "sgUF": str,
    "sgPartido": str,
    "codLegislatura": str,
    "numSubCota": str,
    "txtDescricao": str,
    "numEspecificacaoSubCota": str,
    "txtDescricaoEspecificacao": str,
    "txtFornecedor": str,
    "txtCNPJCPF": str,
    "txtNumero": str,
    "indTipoDocumento": str,
    "datEmissao": str,
    "vlrDocumento": float,
    "vlrGlosa": str,
    "vlrLiquido": float,
    "numMes": str,
    "numAno": str,
    "numParcela": str,
    "txtPassageiro": str,
    "txtTrecho": str,
    "numLote": str,
    "numRessarcimento": str,
    "nuDeputadoId": str,
    "ideDocumento": str,
}

df_reembolso = pd.read_csv(
    "reembolso-2018/Ano-2018.csv", 
    sep=";", 
    dtype=DTYPE
)

### 3) Visualize 10 linhas aleatórias

In [6]:
df_reembolso.sample(10)

,txNomeParlamentar,cpf,ideCadastro,nuCarteiraParlamentar,nuLegislatura,sgUF,sgPartido,codLegislatura,numSubCota,txtDescricao,numEspecificacaoSubCota,txtDescricaoEspecificacao,txtFornecedor,txtCNPJCPF,txtNumero,indTipoDocumento,datEmissao,vlrDocumento,vlrGlosa,vlrLiquido,numMes,numAno,numParcela,txtPassageiro,txtTrecho,numLote,numRessarcimento,vlrRestituicao,nuDeputadoId,ideDocumento,urlDocumento
39954,CARLOS MANATO,5.748079e+10,74163,275,2015,ES,PSL,55,1,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,0,NaN,MASTER TOWER,047.883.560/0019-2,00216692,1,2018-03-23T00:00:00,356.54,13.84,342.70,4,2018,0,NaN,NaN,1483202,NaN,NaN,1593,6549790,NaN
202497,André Abdon,3.160193e+10,178831,9,2015,AP,PP,55,999,PASSAGEM AÉREA - RPA,0,NaN,Cia Aérea - GOL,075.756.510/0015-9,Bilhete: CD117Y,0,2018-03-02T00:00:00,288.93,0,288.93,3,2018,0,André Abdon,BSB/MCP,0,0,NaN,3034,1534631,NaN
291512,Vaidon Oliveira,5.657174e+10,195866,108,2015,CE,PROS,55,120,LOCAÇÃO OU FRETAMENTO DE VEÍCULOS AUTOMOTORES,0,NaN,GOLD CAR BRASILIA LOCACAO DE VEICULOS EIRELI ME,267.352.270/0017-9,42,4,2018-09-04T00:00:00,4500.00,0,4500.00,8,2018,0,NaN,NaN,1527868,NaN,NaN,3162,6666704,https://www.camara.leg.br/cota-parlamentar/not...
105741,Chico D'Angelo,4.724744e+10,141439,293,2015,RJ,PDT,55,4,"CONSULTORIAS, PESQUISAS E TRABALHOS TÉCNICOS.",0,NaN,Marcos Simor Pani e Advogados associados,146.651.260/0019-0,00000330,0,2018-06-29T00:00:00,3500.00,0,3500.00,6,2018,0,NaN,NaN,1509226,NaN,NaN,1799,6617003,https://www.camara.leg.br/cota-parlamentar/doc...
258412,ZENAIDE MAIA,1.235299e+10,178949,126,2015,RN,PHS,55,5,DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR.,0,NaN,AGENCIA DE DESENVOLVIMENTO DE MESSIAS TARGINO-...,055.477.350/0015-3,002076,0,2018-12-18T00:00:00,1000.00,0,1000.00,12,2018,0,NaN,NaN,1551098,NaN,NaN,2930,6729457,https://www.camara.leg.br/cota-parlamentar/doc...
263728,Carlos Gomes,2.142744e+09,178962,492,2015,RS,PRB,55,1,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,0,NaN,CEEE,084.671.150/0010-0,76455805,0,2018-08-28T00:00:00,311.48,0,311.48,8,2018,0,NaN,NaN,1528930,NaN,NaN,2900,6670186,https://www.camara.leg.br/cota-parlamentar/doc...
283290,Dulce Miranda,3.021787e+10,178994,61,2015,TO,MDB,55,999,PASSAGEM AÉREA - RPA,0,NaN,Cia Aérea - TAM,020.128.620/0016-0,Bilhete: 957-2187.220082,0,2018-12-28T00:00:00,326.91,0,326.91,12,2018,0,Dulce Miranda,BSB/GYN,0,0,NaN,2905,1630146,NaN
190155,Delegado Waldir,4.622836e+10,164359,421,2015,GO,PSL,55,3,COMBUSTÍVEIS E LUBRIFICANTES.,1,Veículos Automotores,POSTOS WK JARAGUA LTDA,273.707.390/0014-1,52077,4,2018-07-21T00:00:00,238.55,0,238.55,7,2018,0,NaN,NaN,1521449,NaN,NaN,2431,6648522,https://www.camara.leg.br/cota-parlamentar/not...
248934,Diego Garcia,4.702292e+09,178929,447,2015,PR,PODE,55,122,"SERVIÇO DE TÁXI, PEDÁGIO E ESTACIONAMENTO",0,NaN,RODOVIAS INTEGRADAS DO PARANA S/A,021.916.010/0074-0,2651518,1,2018-05-16T00:00:00,8.90,0,8.90,5,2018,0,NaN,NaN,1496841,NaN,NaN,3043,6585752,https://www.camara.leg.br/cota-parlamentar/doc...
275398,Luiz Lauro Filho,2.729060e+10,178982,550,2015,SP,PSB,55,11,SERVIÇOS POSTAIS,0,NaN,CORSED SERVIÇOS ADMINISTRATIVOS LTDA,107.245.300/0013-6,127,1,2018-12-11T00:00:00,66.30,0,66.30,12,2018,0,NaN,NaN,1550236,NaN,NaN,3052,6727537,https://www.camara.leg.br/cota-parlamentar/doc...

### 4) Existem registros com `ideDocumento` nulo?

In [21]:
df_reembolso[df_reembolso.ideDocumento.isna()]

Empty DataFrame
Columns: [txNomeParlamentar, cpf, ideCadastro, nuCarteiraParlamentar, nuLegislatura, sgUF, sgPartido, codLegislatura, numSubCota, txtDescricao, numEspecificacaoSubCota, txtDescricaoEspecificacao, txtFornecedor, txtCNPJCPF, txtNumero, indTipoDocumento, datEmissao, vlrDocumento, vlrGlosa, vlrLiquido, numMes, numAno, numParcela, txtPassageiro, txtTrecho, numLote, numRessarcimento, vlrRestituicao, nuDeputadoId, ideDocumento, urlDocumento]
Index: []

### 5) Converta a coluna `datEmissao` para `datetime`, e descubra quantos reembolsos aconteram no primeiro semestre de 2018

In [61]:
df_reembolso["datEmissao"] = pd.to_datetime(
    df_reembolso.datEmissao, 
    format="%Y-%m-%d"
)

In [32]:
df_reembolso_ps = df_reembolso.set_index("datEmissao").loc["2018-01-01":"2018-06-30"]

In [37]:
df_reembolso_ps.shape

(159651, 30)

In [35]:
len(df_reembolso_ps.ideDocumento.unique())

147525

#### Existem registros com `datEmissao` nulos? Se sim, quantos?

In [85]:
df_reembolso[df_reembolso.datEmissao.isna()].shape

(10043, 32)

In [88]:
df_reembolso = df_reembolso[~df_reembolso.datEmissao.isna()]

#### Existem registros de outros anos no arquivo de 2018? Se sim, quais anos e quantos registros há nessas datas?

In [38]:
df_reembolso.datEmissao.dt.year.unique()

array([2018., 2019.,   nan, 2017.])

In [52]:
df_reembolso_ntps = df_reembolso[df_reembolso.datEmissao.dt.year != 2018.]

In [53]:
df_reembolso_ntps.shape

(11835, 31)

In [54]:
len(df_reembolso_ntps.ideDocumento.unique())

901

In [59]:
df_reembolso_ntps.datEmissao.sort_values(ascending=False).unique()

array(['2019-03-22T00:00:00.000000000', '2019-03-15T00:00:00.000000000',
       '2019-03-13T00:00:00.000000000', '2019-03-11T00:00:00.000000000',
       '2019-03-01T00:00:00.000000000', '2019-02-28T00:00:00.000000000',
       '2019-02-27T00:00:00.000000000', '2019-02-26T00:00:00.000000000',
       '2019-02-21T00:00:00.000000000', '2019-02-20T00:00:00.000000000',
       '2019-02-19T00:00:00.000000000', '2019-02-18T00:00:00.000000000',
       '2019-02-13T00:00:00.000000000', '2019-02-12T00:00:00.000000000',
       '2019-02-11T00:00:00.000000000', '2019-02-10T00:00:00.000000000',
       '2019-02-08T00:00:00.000000000', '2019-02-07T00:00:00.000000000',
       '2019-02-06T00:00:00.000000000', '2019-02-05T00:00:00.000000000',
       '2019-02-04T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-01-31T00:00:00.000000000', '2019-01-30T00:00:00.000000000',
       '2019-01-29T00:00:00.000000000', '2019-01-28T00:00:00.000000000',
       '2019-01-26T00:00:00.000000000', '2019-01-25T00:00:00.000000000',
       '2019-01-24T00:00:00.000000000', '2019-01-23T00:00:00.000000000',
       '2019-01-22T00:00:00.000000000', '2019-01-21T00:00:00.000000000',
       '2019-01-18T00:00:00.000000000', '2019-01-17T00:00:00.000000000',
       '2019-01-16T00:00:00.000000000', '2019-01-15T00:00:00.000000000',
       '2019-01-14T00:00:00.000000000', '2019-01-13T00:00:00.000000000',
       '2019-01-12T00:00:00.000000000', '2019-01-11T00:00:00.000000000',
       '2019-01-10T00:00:00.000000000', '2019-01-09T00:00:00.000000000',
       '2019-01-08T00:00:00.000000000', '2019-01-07T00:00:00.000000000',
       '2019-01-06T00:00:00.000000000', '2019-01-05T00:00:00.000000000',
       '2019-01-04T00:00:00.000000000', '2019-01-03T00:00:00.000000000',
       '2019-01-02T00:00:00.000000000', '2019-01-01T00:00:00.000000000',
       '2017-12-30T00:00:00.000000000', '2017-12-29T00:00:00.000000000',
       '2017-12-28T00:00:00.000000000', '2017-12-27T00:00:00.000000000',
       '2017-12-26T00:00:00.000000000', '2017-12-25T00:00:00.000000000',
       '2017-12-23T00:00:00.000000000', '2017-12-22T00:00:00.000000000',
       '2017-12-21T00:00:00.000000000', '2017-12-20T00:00:00.000000000',
       '2017-12-19T00:00:00.000000000', '2017-12-18T00:00:00.000000000',
       '2017-12-17T00:00:00.000000000', '2017-12-15T00:00:00.000000000',
       '2017-12-14T00:00:00.000000000', '2017-12-13T00:00:00.000000000',
       '2017-12-12T00:00:00.000000000', '2017-12-11T00:00:00.000000000',
       '2017-12-10T00:00:00.000000000', '2017-12-08T00:00:00.000000000',
       '2017-12-07T00:00:00.000000000', '2017-12-05T00:00:00.000000000',
       '2017-12-04T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
       '2017-11-30T00:00:00.000000000', '2017-11-29T00:00:00.000000000',
       '2017-11-28T00:00:00.000000000', '2017-11-24T00:00:00.000000000',
       '2017-11-23T00:00:00.000000000', '2017-11-22T00:00:00.000000000',
       '2017-11-11T00:00:00.000000000', '2017-11-07T00:00:00.000000000',
       '2017-11-03T00:00:00.000000000', '2017-10-04T00:00:00.000000000',
       '2017-10-03T00:00:00.000000000', '2017-07-13T00:00:00.000000000',
       '2017-03-22T00:00:00.000000000', '2017-03-20T00:00:00.000000000',
                                 'NaT'], dtype='datetime64[ns]')

In [73]:
df_reembolso_ntps.groupby("datEmissao")["ideDocumento"].count().sort_values(ascending=False)

datEmissao
2019-01-16    621
2019-01-10    151
2019-01-07    135
2019-01-01    101
2019-01-02     91
             ...
2019-02-01      1
2017-12-17      1
2019-01-26      1
2017-03-22      1
2017-03-20      1
Name: ideDocumento, Length: 88, dtype: int64

### 6) Quais os meses que mais tem solicitação de reembolso?

In [78]:
df_reembolso["datEmissaoMes"] = df_reembolso.datEmissao.dt.month

In [79]:
df_reembolso["datEmissaoMes"]

0         12.0
1          2.0
2          9.0
3         10.0
4          2.0
          ...
292729     NaN
292730    12.0
292731    12.0
292732     1.0
292733    12.0
Name: datEmissaoMes, Length: 292734, dtype: float64

In [74]:
df_reembolso.groupby("datEmissaoMes")["ideDocumento"].count().sort_values(ascending=False)

datEmissaoMes
3.0     31334
5.0     31095
4.0     29279
6.0     27447
7.0     24969
2.0     24218
11.0    23576
10.0    21667
12.0    20332
8.0     20321
1.0     17893
9.0     10560
Name: ideDocumento, dtype: int64

#### Como seria para agrupar os dados no formato `mes/ano` , ao invés de apenas mês?

In [80]:
df_reembolso["datEmissaoMes"] = df_reembolso.datEmissao.apply(lambda x: f"{x.month}/{x.year}")

In [81]:
df_reembolso["datEmissaoMes"]

0         12/2018
1          2/2018
2          9/2018
3         10/2018
4          2/2018
           ...
292729    nan/nan
292730    12/2018
292731    12/2018
292732     1/2019
292733    12/2018
Name: datEmissaoMes, Length: 292734, dtype: object

In [82]:
df_reembolso.groupby("datEmissaoMes")["ideDocumento"].count().sort_values(ascending=False)

datEmissaoMes
3/2018     31321
5/2018     31095
4/2018     29279
6/2018     27447
7/2018     24967
2/2018     24108
11/2018    23561
10/2018    21665
8/2018     20321
12/2018    20174
1/2018     16401
9/2018     10560
nan/nan    10043
1/2019      1492
12/2017      158
2/2019       110
11/2017       15
3/2019        11
7/2017         2
10/2017        2
3/2017         2
Name: ideDocumento, dtype: int64

### 7) Limpe a coluna `txtCNPJCPF`: ela deve conter somente dígitos numéricos

In [90]:
df_reembolso["txtCNPJCPF"]

0         046.448.200/0017-7
1         106.385.970/0015-8
2         248.825.670/0010-5
3         248.825.670/0010-5
4         037.139.030/0010-8
                 ...
292728    075.756.510/0015-9
292730    009.829.330/0012-1
292731    274.020.970/0011-5
292732    022.149.320/0016-2
292733    020.128.620/0016-0
Name: txtCNPJCPF, Length: 282691, dtype: object

In [91]:
df_reembolso["txtCNPJCPF"] = df_reembolso["txtCNPJCPF"].str.replace(r"\D", "", regex=True)

In [92]:
df_reembolso["txtCNPJCPF"]

0         04644820000177
1         10638597000158
2         24882567000105
3         24882567000105
4         03713903000108
               ...
292728    07575651000159
292730    00982933000121
292731    27402097000115
292732    02214932000162
292733    02012862000160
Name: txtCNPJCPF, Length: 282691, dtype: object

### 8) Quais são os valores únicos do campo `indTipoDocumento`? Substitua o conteúdo pela respectiva legenda

*Dica*: 0 (Zero), para Nota Fiscal; 1 (um), para Recibo; e 2, para Despesa no Exterior.

In [93]:
df_reembolso.indTipoDocumento.unique()

array(['4', '0', '1', '2', '3'], dtype=object)

In [94]:
converters = {
    "0": "nota_fiscal",
    "1": "recibo",
    "2": "despesa_exterior",
    "4": None
}

df_reembolso.indTipoDocumento.replace(converters, inplace=True)

In [95]:
df_reembolso.indTipoDocumento.unique()

array([None, 'nota_fiscal', 'recibo', 'despesa_exterior', '3'],
      dtype=object)

### 9) Agrupe o valor total de despesas por fornecedor, mês e ano. Você encontrou algum padrão?

In [98]:
import numpy as np

In [99]:
df_reembolso.groupby(["txtFornecedor", "datEmissaoMes"], as_index=False) \
    .agg({"vlrLiquido": np.nansum})\
    .sort_values(by="vlrLiquido", ascending=False)[0:20]

         txtFornecedor datEmissaoMes  vlrLiquido
20347  Cia Aérea - GOL       10/2018  2502925.52
20348  Cia Aérea - GOL       11/2018  2497405.47
20372  Cia Aérea - TAM       11/2018  2241271.59
20371  Cia Aérea - TAM       10/2018  2113908.99
20351  Cia Aérea - GOL        3/2018  2060594.25
20353  Cia Aérea - GOL        5/2018  2042906.57
20375  Cia Aérea - TAM        3/2018  1948712.47
20377  Cia Aérea - TAM        5/2018  1923575.38
20352  Cia Aérea - GOL        4/2018  1874972.70
20355  Cia Aérea - GOL        7/2018  1853015.07
20356  Cia Aérea - GOL        8/2018  1759640.03
20376  Cia Aérea - TAM        4/2018  1742572.82
20380  Cia Aérea - TAM        8/2018  1679026.14
20349  Cia Aérea - GOL       12/2018  1656338.27
20373  Cia Aérea - TAM       12/2018  1643291.82
20354  Cia Aérea - GOL        6/2018  1589525.37
20350  Cia Aérea - GOL        2/2018  1582381.00
20378  Cia Aérea - TAM        6/2018  1539945.19
20379  Cia Aérea - TAM        7/2018  1499349.67
20374  Cia Aérea - TAM        2/2018  1467356.59

### 10) Quais os 10 parlamentares que mais solicitaram reembolso?

In [103]:
df_reembolso.groupby(["txNomeParlamentar"], as_index=False) \
    .agg({"vlrLiquido": np.nansum})\
    .sort_values(by="vlrLiquido", ascending=False)[0:10]

      txNomeParlamentar  vlrLiquido
267   Jhonatan de Jesus   560527.30
444       REMÍDIO MONAI   547939.04
284       Jéssica Sales   546646.53
81       CARLOS ANDRADE   543766.80
51    Arlindo Chinaglia   543388.24
124  Dagoberto Nogueira   536589.15
17              ANGELIM   531860.40
358        MARIA HELENA   531839.64
111         CÉSAR HALUM   531666.82
185       Flaviano Melo   530007.61

#### Como ficaria a resposta, caso queiramos saber quais os seus estados e partidos?

In [102]:
df_reembolso.groupby(["txNomeParlamentar", "sgPartido", "sgUF"], as_index=False) \
    .agg({"vlrLiquido": np.nansum})\
    .sort_values(by="vlrLiquido", ascending=False)[0:10]

      txNomeParlamentar sgPartido sgUF  vlrLiquido
267   Jhonatan de Jesus       PRB   RR   560527.30
431       REMÍDIO MONAI        PR   RR   547939.04
284       Jéssica Sales       MDB   AC   546646.53
81       CARLOS ANDRADE       PHS   RR   543766.80
51    Arlindo Chinaglia        PT   SP   543388.24
124  Dagoberto Nogueira       PDT   MS   536589.15
17              ANGELIM        PT   AC   531860.40
345        MARIA HELENA       MDB   RR   531839.64
111         CÉSAR HALUM       PRB   TO   531666.82
185       Flaviano Melo       MDB   AC   530007.61

### 11) Quais os partidos e os estados que mais solicitaram reembolso?

In [104]:
df_reembolso.groupby(["sgPartido", "sgUF"], as_index=False) \
    .agg({"vlrLiquido": np.nansum})\
    .sort_values(by="vlrLiquido", ascending=False)[0:10]

    sgPartido sgUF  vlrLiquido
243      PSDB   SP  4621629.28
274        PT   SP  4185776.10
271        PT   RS  3330704.67
263        PT   MG  3129844.33
257        PT   BA  3054192.45
19        DEM   RJ  3048067.24
119        PP   RS  2511445.29
230      PSDB   MG  2388037.41
166       PRB   SP  2360305.35
145        PR   RJ  2263563.34

### 12) Recupere os reembolsos de 2019 e acrescente aos dados de 2018

In [109]:
df_reembolso.columns

Index(['txNomeParlamentar', 'cpf', 'ideCadastro', 'nuCarteiraParlamentar',
       'nuLegislatura', 'sgUF', 'sgPartido', 'codLegislatura', 'numSubCota',
       'txtDescricao', 'numEspecificacaoSubCota', 'txtDescricaoEspecificacao',
       'txtFornecedor', 'txtCNPJCPF', 'txtNumero', 'indTipoDocumento',
       'datEmissao', 'vlrDocumento', 'vlrGlosa', 'vlrLiquido', 'numMes',
       'numAno', 'numParcela', 'txtPassageiro', 'txtTrecho', 'numLote',
       'numRessarcimento', 'vlrRestituicao', 'nuDeputadoId', 'ideDocumento',
       'urlDocumento'],
      dtype='object')

In [114]:
df_reembolso.shape

(292734, 31)

In [110]:
df_reembolso_19 = pd.read_csv(
    "reembolso-2019/Ano-2019.csv", 
    sep=";", 
    dtype=DTYPE
)

df_reembolso_19.columns

Index(['txNomeParlamentar', 'cpf', 'ideCadastro', 'nuCarteiraParlamentar',
       'nuLegislatura', 'sgUF', 'sgPartido', 'codLegislatura', 'numSubCota',
       'txtDescricao', 'numEspecificacaoSubCota', 'txtDescricaoEspecificacao',
       'txtFornecedor', 'txtCNPJCPF', 'txtNumero', 'indTipoDocumento',
       'datEmissao', 'vlrDocumento', 'vlrGlosa', 'vlrLiquido', 'numMes',
       'numAno', 'numParcela', 'txtPassageiro', 'txtTrecho', 'numLote',
       'numRessarcimento', 'vlrRestituicao', 'nuDeputadoId', 'ideDocumento',
       'urlDocumento'],
      dtype='object')

In [115]:
df_reembolso_19.shape

(289452, 31)

In [112]:
df_final = pd.concat([df_reembolso, df_reembolso_19], ignore_index=True)

In [113]:
df_final.shape

(582186, 31)

In [117]:
df_final = df_final.drop_duplicates()

df_final.shape

(582186, 31)

### 13) Responda novamente as questões 9, 10 e 11. Houve alguma mudança nos resultados?

In [118]:
df_final["datEmissao"] = pd.to_datetime(
    df_final.datEmissao, 
    format="%Y-%m-%d"
) 

df_final["txtCNPJCPF"] = df_final["txtCNPJCPF"].str.replace(r"\D", "", regex=True)

In [119]:
df_final.head()

,txNomeParlamentar,cpf,ideCadastro,nuCarteiraParlamentar,nuLegislatura,sgUF,sgPartido,codLegislatura,numSubCota,txtDescricao,numEspecificacaoSubCota,txtDescricaoEspecificacao,txtFornecedor,txtCNPJCPF,txtNumero,indTipoDocumento,datEmissao,vlrDocumento,vlrGlosa,vlrLiquido,numMes,numAno,numParcela,txtPassageiro,txtTrecho,numLote,numRessarcimento,vlrRestituicao,nuDeputadoId,ideDocumento,urlDocumento
0,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,0,NaN,BISCOITOS CASEIROS HOMONNAI LTDA,04644820000177,10473,4,2018-12-20,454.41,0,454.41,12,2018,0,NaN,NaN,1550817,NaN,NaN,2812,6728796,https://www.camara.leg.br/cota-parlamentar/not...
1,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,0,NaN,BONNA COMERCIAL DE ALIMENTOS EIRELI,10638597000158,105,4,2018-02-21,242.90,0,242.90,2,2018,0,NaN,NaN,1467117,NaN,NaN,2812,6508293,https://www.camara.leg.br/cota-parlamentar/not...
2,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,0,NaN,CAFE DO FLAVIO EIRELLI-ME,24882567000105,40792,4,2018-09-05,79.00,0,79.00,9,2018,0,NaN,NaN,1527969,NaN,NaN,2812,6666881,https://www.camara.leg.br/cota-parlamentar/not...
3,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,0,NaN,CAFE DO FLAVIO EIRELLI-ME,24882567000105,42181,4,2018-10-16,207.00,0,207.00,10,2018,0,NaN,NaN,1532624,NaN,NaN,2812,6681167,https://www.camara.leg.br/cota-parlamentar/not...
4,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,0,NaN,CRISTIANE FERREIRA EPP,03713903000108,409,4,2018-02-05,98.75,0,98.75,2,2018,0,NaN,NaN,1460984,NaN,NaN,2812,6491959,https://www.camara.leg.br/cota-parlamentar/not...

In [126]:
df_final["datEmissaoMes"] = df_final.datEmissao.apply(lambda x: f"{x.month}")

In [127]:
df_final.groupby(["txtFornecedor", "datEmissaoMes"], as_index=False) \
    .agg({"vlrLiquido": np.nansum})\
    .sort_values(by="vlrLiquido", ascending=False)[0:20]

         txtFornecedor datEmissaoMes  vlrLiquido
33981  Cia Aérea - GOL            10  5046671.32
34011  Cia Aérea - TAM             5  4562958.34
34005  Cia Aérea - TAM            10  4458986.99
33987  Cia Aérea - GOL             5  4376687.48
34010  Cia Aérea - TAM             4  4370795.64
33990  Cia Aérea - GOL             8  4350622.67
33982  Cia Aérea - GOL            11  4313124.34
34006  Cia Aérea - TAM            11  4135965.95
34009  Cia Aérea - TAM             3  4097828.56
34008  Cia Aérea - TAM             2  4094889.94
33986  Cia Aérea - GOL             4  4022850.43
33985  Cia Aérea - GOL             3  3958590.37
34014  Cia Aérea - TAM             8  3943413.49
33989  Cia Aérea - GOL             7  3683142.01
34012  Cia Aérea - TAM             6  3647295.82
34013  Cia Aérea - TAM             7  3465497.48
33988  Cia Aérea - GOL             6  3382288.64
33984  Cia Aérea - GOL             2  3263182.44
33991  Cia Aérea - GOL             9  2747939.11
34015  Cia Aérea - TAM             9  2639958.04

In [129]:
df_final["datEmissaoMes"] = df_final.datEmissao.apply(lambda x: f"{x.month}/{x.year}")

In [130]:
df_final.groupby(["txtFornecedor", "datEmissaoMes"], as_index=False) \
    .agg({"vlrLiquido": np.nansum})\
    .sort_values(by="vlrLiquido", ascending=False)[0:20]

         txtFornecedor datEmissaoMes  vlrLiquido
39487  Cia Aérea - TAM        5/2019  2639382.96
39485  Cia Aérea - TAM        4/2019  2628222.82
39481  Cia Aérea - TAM        2/2019  2627533.35
39445  Cia Aérea - GOL        8/2019  2590982.64
39427  Cia Aérea - GOL       10/2019  2543745.80
39426  Cia Aérea - GOL       10/2018  2502925.52
39428  Cia Aérea - GOL       11/2018  2497405.47
39475  Cia Aérea - TAM       10/2019  2345078.00
39439  Cia Aérea - GOL        5/2019  2333780.91
39493  Cia Aérea - TAM        8/2019  2264387.35
39476  Cia Aérea - TAM       11/2018  2241271.59
39483  Cia Aérea - TAM        3/2019  2149116.09
39437  Cia Aérea - GOL        4/2019  2147877.73
39474  Cia Aérea - TAM       10/2018  2113908.99
39447  Cia Aérea - GOL        9/2019  2112975.98
39489  Cia Aérea - TAM        6/2019  2107350.63
39495  Cia Aérea - TAM        9/2019  2065295.10
39434  Cia Aérea - GOL        3/2018  2060594.25
39438  Cia Aérea - GOL        5/2018  2042906.57
39491  Cia Aérea - TAM        7/2019  1966147.81

In [131]:
df_final.groupby(["txNomeParlamentar"], as_index=False) \
    .agg({"vlrLiquido": np.nansum})\
    .sort_values(by="vlrLiquido", ascending=False)[0:10]

     txNomeParlamentar  vlrLiquido
406  Jhonatan de Jesus  1115781.55
441      Jéssica Sales  1084703.12
350    Hiran Gonçalves  1063153.44
234         Edio Lopes  1057764.57
286      Flaviano Melo  1051355.53
771       Silas Câmara  1040134.99
710       Rafael Motta  1037232.85
349        Hildo Rocha  1036810.75
63         André Abdon  1028589.54
824    Vinicius Gurgel  1028511.03

In [132]:
df_final.groupby(["sgPartido", "sgUF"], as_index=False) \
    .agg({"vlrLiquido": np.nansum})\
    .sort_values(by="vlrLiquido", ascending=False)[0:10]

    sgPartido sgUF  vlrLiquido
306      PSDB   SP  8132307.59
342        PT   SP  7624879.71
329        PT   MG  6640933.71
323        PT   BA  6213677.25
339        PT   RS  5748143.61
126        PL   SP  4557707.30
263       PSD   BA  4414071.58
154        PP   MG  4353151.77
275       PSD   RJ  4341860.02
88        PDT   CE  4161447.98